.swiper1{
    background: url(https://poetic-sable-3448b5.netlify.app/img/recipe1.png);
    
}
.swiper2{
    background: url(https://poetic-sable-3448b5.netlify.app/img/recipe2.png);
    
}
.swiper3{
    background: url(https://poetic-sable-3448b5.netlify.app/img/recipe3.png);
    
}
.swiper4{
    background: url(https://poetic-sable-3448b5.netlify.app/img/recipe4.png);
    
}
.swiper5{
    background: url(https://poetic-sable-3448b5.netlify.app/img/recipe5.png);
    
}
.swiper6{
    background: url(https://poetic-sable-3448b5.netlify.app/img/recipe6.png);
    
}
.swiper7{
    background: url(https://poetic-sable-3448b5.netlify.app/img/recipe7.png);
    
}

.swiper1, .swiper2, .swiper3,.swiper4,.swiper5, .swiper6, .swiper7{
    margin:15px;
    border-radius: 20px;
    font-size: large;
}
