:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#errorImg{
background:url(../public/errorBackground.jpg);
background-position: center;
background-size: cover;
}

.spinner1{
  width: 300px;
  margin: auto;
}

i{
  font-size: 12px;
  margin: 0;
}


/* lazy load image control css */
.LazyLoad {
  opacity: 0;
  transition: all 2s ease-in-out;
}

.is-visible {
  opacity: 1;
}